<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="custom_cart_image" type="Magenest\Movie\Plugin\Checkout\CustomerData\CartAfter"/>
    </type>
    <!-- Cấu hình virtualType cho Grid Collection -->
    <virtualType name="Magenest\Movie\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Movie</argument>
        </arguments>
    </virtualType>
    <!-- Liên kết DataProvider với Collection -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="movie_grid_data_source" xsi:type="string">Magenest\Movie\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <!--    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">-->
    <!--        <arguments>-->
    <!--            <argument name="modifiers" xsi:type="array">-->
    <!--                <item name="hide_original_fields" xsi:type="array">-->
    <!--                    <item name="class" xsi:type="string">Magenest\Movie\Ui\DataProvider\Product\Form\Modifier\HideOriginalFields</item>-->
    <!--                    <item name="sortOrder" xsi:type="number">1000</item>-->
    <!--                </item>-->
    <!--            </argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    
    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\General">
        <plugin name="magenest_movie_hide_attributes" type="Magenest\Movie\Plugin\HideProductAttributes"/>
    </type>

</config>