<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="popup_offer" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Popup Offer</label>
            <tab>magenest</tab>
            <resource>Magenest_PopupOffer::config</resource>

            <group id="offers" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Offers Per Customer Group</label>

                <field id="customer_group_offers" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Offer List</label>
                    <frontend_model>Magenest\PopupOffer\Block\Adminhtml\System\Config\DynamicRows</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
